{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="content">
    <a href id="copy" data-clipboard-text="¯\_(ツ)_/¯">¯\_(ツ)_/¯</a>
  </div>
</div>
<footer>
  <span>
    Inspired by <a href="https://twitter.com/slackhq">/shrug</a>.
    Build by <a href="https://twitter.com/jorilallo">@jorilallo</a>.
    <a href="https://twitter.com/intent/tweet?text=Slash%20%C2%AF%5C_(%E3%83%84)_%2F%C2%AF%20-%20The%20easiest%20place%20to%20shrug&url=http%3A%2F%2Fslashshrug.com&via=jorilallo" target="_blank">Tweet</a> or <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.slashshrug.com">share</a>.
  </span>
</footer>

<img src id="gif">

{% endblock content%}
